<p><a href="https://icp.gov.moe/?keyword=20230963" target="_blank">萌ICP备20230963号</a></p>
<p>&copy; {{ global.site.copyright_year or '2021' }} {{ global.site.author }}. All rights reserved.</p>
<p>Modified from <a href="https://github.com/verilab/purepress">PurePress</a> and <a
    href="https://github.com/verilab/purepress-theme-minimal">Minimal</a>.</p>
